body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container{
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
form>*{
    width: 80%;
    padding: 20px;
    margin: 10px;
}
.exito{
    color: green;
}

.error{
    color:red;
}